* {
  font-family: "Pragmatica", arial;
  font-size: 18px;
  color: var(--main-text);
  font-weight: 700;
}

body {
  width: 100%;
}

:root {
  --white: #fff;
  --heliotrope: #bb5cff;
  --orchid: #d767c5;
  --portage-gradient: linear-gradient(180deg, #a590f9 0%, #6a45fb 100%);
  --royal-blue-gradient: linear-gradient(0deg, #2f61e6 0%, #96d1ff 106.36%);
  --electric-violet-gradient: linear-gradient(0deg, #a734ff 0%, #d092ff 106.36%);
  --tertiary: #3e4e61;
  --main-text: #203a59;
  --alto: #d8d8d8;
}

.text-accent {
  color: var(--heliotrope);
}

.hero {
  position: relative;
  top: 0;
  left: 0;
  z-index: -1;

  background: url(img/hero-img/hero-background.svg) no-repeat;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
}

section {
  width: 1440px;
  margin: 0 auto;
}

.header {
  padding: 50px 135px 0 135px;
  display: flex;
  justify-content: space-between;
}

.header-wrapper ul {
  display: flex;
  list-style: none;
}

.header-wrapper ul li a {
  text-decoration: none;
  margin: 0 20px;
}

.header-item {
  cursor: pointer;
}

.active {
  background: var(--heliotrope);
  color: var(--white);
  padding: 10px 20px;
  border-radius: 10px;
}

.main {
  display: flex;
  justify-content: center;
  margin: 230px auto 0 auto;
}

.main-left {
  margin-left: 140px;
  min-width: 670px;
}

.accent-background {
  position: absolute;
  top: -10px;
  left: -30px;
  width: 120px;
  height: 80px;
  background-image: linear-gradient(to right, var(--heliotrope), rgba(255, 0, 0, 0));
  border-radius: 10px;
}

.main-left-text {
  position: relative;
}

.main-title {
  position: relative;
  font-size: 48px;
  margin: 0;
  line-height: 68px;
  z-index: 10;
}

.main-subtitle {
  font-weight: 400;
  font-size: 18px;
  margin: 30px 0;
  color: var(--tertiary);
}

.main-links {
  display: flex;
}

.main-links-item {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 30px;
  width: 170px;
  height: 60px;
  border: 2px solid var(--main-text);
  border-radius: 10px;
  cursor: pointer;
}

.main-links-item:last-child {
  margin-right: 0;
}

.app-link-text {
  font-weight: 400;
  font-size: 10px;
}

.app-link-name {
  margin: 0;
}

.main-right {
  width: 100%;
  margin-top: -100px;
}

.main-right-background {
  margin-left: 80px;
  z-index: -1;
  position: relative;

  width: 412px;
  height: 412px;
  background: url("img/hero-img/hero-ellipse.svg");
}

.main-right-phone {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.main-right-courses {
  position: absolute;
  top: -50px;
  left: -50px;
  border-color: 10px;
  background: var(--electric-violet-gradient);
  width: 103px;
  height: 103px;
  border-radius: 16px;
}

.main-right-award {
  position: absolute;
  top: -50px;
  right: -50px;
  border-color: 10px;
  background: var(--portage-gradient);
  width: 103px;
  height: 114px;
  border-radius: 24px;
}

.main-right-mentors {
  position: absolute;
  bottom: -20px;
  left: -50px;
  border-color: 10px;
  background: var(--royal-blue-gradient);
  width: 103px;
  height: 103px;
  border-radius: 16px;
}

.main-right-card {
  margin: 16px auto 0;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-right-card-title {
  margin-top: 10px;
  color: var(--white);
  font-size: 14px;
  text-align: center;
}

.main-right-card-subtitle {
  color: var(--white);
  font-size: 10px;
  font-weight: 400;
  text-align: center;
}

.main-right-pluses {
  position: absolute;
  top: 34px;
  left: -110px;
}

.main-right-pink-ellipse {
  position: absolute;
  top: -60px;
  right: 60px;
}

.main-right-dots {
  position: absolute;
  top: 140px;
  right: -40px;
}

.main-right-blue-ellipse {
  position: absolute;
  top: 200px;
  right: -100px;
}

.main-right-purple-ellipse {
  position: absolute;
  top: 150px;
  left: 0;
}

.main-right-semicircle {
  position: absolute;
  bottom: -130px;
  right: 0;
}

.main-right-purple-ellipse-2 {
  position: absolute;
  bottom: -96px;
  right: 26px;
}

.main-right-courses-card {
  position: absolute;
  top: 162px;
  right: 30px;
}

.main-right-mentors-card {
  position: absolute;
  top: 308px;
  right: 30px;
}

.start {
  margin: 260px auto 0 auto;
  display: flex;
  justify-content: space-between;
}

.start-left-background {
  position: relative;

  z-index: -1;
  width: 550px;
  height: 540px;
  background: url("img/start-img/start-background.svg");
}

.start-right {
  margin: 200px 200px 0 0;
  width: 480px;
}

.start-right-text {
  position: relative;
}

.start-title {
  position: relative;
  font-size: 48px;
  margin: 0;
  line-height: 68px;
  z-index: 10;
}

.start-accent-background {
  position: absolute;
  top: 0;
  left: -30px;
  width: 120px;
  height: 70px;
  background-image: linear-gradient(to right, var(--heliotrope), rgba(255, 0, 0, 0));
  border-radius: 10px;
}

.start-subtitle {
  font-weight: 400;
  font-size: 18px;
  margin: 30px 0;
  color: var(--tertiary);
}

.button {
  background: var(--heliotrope);
  color: var(--white);
  padding: 12px 24px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.start-phone {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 60%;
  left: 60%;
}

.start-phone-tooltip {
  position: absolute;
  top: 50%;
  left: 92%;
}

.start-left-semicircle {
  position: absolute;
  left: 0;
  top: 410px;
  transform: rotate(45deg);
}

.start-left-dots {
  position: absolute;
  left: 100px;
  top: 530px;
}

.start-left-cylinder {
  position: absolute;
  top: 30px;
  left: 80px;
}

.start-left-dark-purple-ellipse {
  position: absolute;
  right: 20px;
  bottom: -80px;
}

.start-left-purple-ellipse {
  position: absolute;
  left: 44px;
  top: 300px;
}

.skills {
  margin-top: 160px;
  background: #fefaff;
}

.skills-main {
  padding-top: 100px;
  display: flex;

  justify-content: center;
}

.skills-title-wrapper {
  position: relative;
  padding-top: 10px;
}

.skills-title {
  position: relative;
  font-size: 40px;
  text-align: center;
  z-index: 10;
}

.skills-subtitle {
  font-weight: 400;
  max-width: 620px;
  font-size: 18px;
  margin: 50px auto;
  text-align: center;
  line-height: 26px;
}

.skills-wrapper {
  display: flex;
  justify-content: center;
  padding-bottom: 120px;
}

.skills-wrapper-card {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 370px;
  border-radius: 40px;
  padding: 40px;
  background: var(--white);
}

.skills-wrapper-card:first-child {
  margin-left: 0;
}

.skills-card-title {
  margin-top: 10px;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
}

.skills-card-subtitle {
  margin-top: 10px;
  text-align: center;
  max-width: 310px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.features {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.features-left {
  max-width: 460px;
}

.features-title-wrapper {
  position: relative;
}

.features-title {
  position: relative;
  font-size: 40px;
  line-height: 54px;
  z-index: 10;
}

.features-accent-background {
  width: 98px;
  height: 65px;
}

.features-right {
  margin-top: 60px;
}

.features-subtitle {
  font-weight: 400;
  font-size: 16px;
  margin-top: 30px;
  line-height: 24px;
}

.features-items {
  margin-top: 30px;
}

.features-item {
  display: flex;
  margin-bottom: 30px;
}

.features-item:last-child {
  margin-bottom: 0;
}

.features-item-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

.heliotrope-background {
  background: var(--heliotrope);
}

.portage-gradient-background {
  background: var(--portage-gradient);
}

.royal-blue-background {
  background: var(--royal-blue-gradient);
}

.features-item-text {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  max-width: 250px;
}

.features-item-title {
  font-size: 20px;
  line-height: 30px;
}

.features-item-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.students {
  margin-top: 200px;
}

.students-title-wrapper {
  position: relative;
  max-width: 420px;
  margin: 0 auto;
}

.students-title {
  position: relative;
  font-size: 40px;
  line-height: 54px;
  z-index: 10;
}

.students-subtitle {
  font-weight: 400;
  font-size: 18px;
  max-width: 600px;
  margin: 30px auto;
  text-align: center;
  color: var(--tertiary);
}

.students-hero {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.students-hero-left {
  position: relative;
  min-width: 320px;
}

.student-hero-semicircle {
  position: absolute;
  z-index: -1;
  left: -70px;
  top: -50px;
}

.student-hero-dots {
  position: absolute;
  z-index: -1;
  right: 50px;
  top: -10px;
}

.students-hero-right {
  position: relative;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 100px;
}

.students-hero-quotes {
  margin-top: 60px;
  max-height: 30px;
}

.students-hero-stars {
  margin-top: 30px;
  max-height: 19px;
}

.students-hero-text {
  margin-top: 30px;
  line-height: 28px;
  font-weight: 500;
}

.students-hero-name {
  margin-top: 30px;
  color: var(--orchid);
  font-size: 24px;
}

.students-hero-designer {
  margin-top: 8px;
  font-weight: 500;
  font-size: 16px;
}

.students-hero-links {
  margin-top: 30px;
}

.students-hero-arrows-wrapper {
  position: absolute;
  bottom: -10px;
  right: 0;
}

.apps {
  position: relative;
  margin: 150px auto;
  background: url("./img/apps/apps.svg") no-repeat;
  width: 970px;
  height: 330px;
  padding-top: 60px;
}

.apps-title {
  font-size: 40px;
  text-align: center;
}

.apps-subtitle {
  max-width: 600px;
  text-align: center;
  margin: 50px auto;
  font-weight: 400;
}

.apps-links {
  display: flex;
  justify-content: center;
}

.apps-dots {
  position: absolute;
  top: 80px;
  left: 50px;
}

.apps-dots-2 {
  position: absolute;
  bottom: 110px;
  right: 70px;
}

.apps-pluses {
  position: absolute;
  top: 110px;
  right: 70px;
}

.apps-waves {
  position: absolute;
  top: 240px;
  left: 54px;
}

.footer {
  position: relative;
  padding-bottom: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.footer-left-wrapper {
  max-width: 500px;
}

.footer-subtitle {
  margin-top: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
}

.footer-title {
  margin-top: 30px;
  font-size: 24px;
}

.footer-form {
  margin-top: 30px;
  display: flex;
}

.footer-input {
  margin-right: 20px;
  width: 300px;
  height: 40px;
  outline: none;
  border: 1px solid #f5e8ff;
  border-radius: 12px;
  font-size: 14px;
  color: var(--alto);
  padding-left: 20px;
  font-weight: 400;
}

.footer-item {
  margin-left: 150px;
}

.footer-item-title {
  font-size: 24px;
  margin-bottom: 36px;
}

.footer-item ul {
  padding: 0;
  list-style: none;
}

.footer-item li {
  font-weight: 500;
  margin-bottom: 16px;
  line-height: 24px;
}

.footer-item li:last-child {
  margin-bottom: 0;
}

.footer-pluses {
  position: absolute;
  right: 0;
}

.footer-ellipse {
  position: absolute;
  right: -20px;
  top: 140px;
  opacity: 0.5;
}

.footer-semicircle {
  position: absolute;
  right: -160px;
  bottom: 100px;
  opacity: 0.5;
}
